.login {
    background-color: #f5f5f5;
    
}

.login__container {
    display: inline-flex;
    width: 275px;
    height: 189px;
    padding: 169px;
    left: 45px; 
    background-color: #f5f5f5;
    justify-content: center;
    position: sticky;
    align-items: center;
}

.login__container p {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 8px;
}

.formulario__login {
    padding-bottom: 8px;
    text-align: justify;
    
}
.formulario__login input {
    width: 275px;
    height: 41px;
    top: 204px;
    left: 45px;
    border-radius: 4px;  
    }

.formulario__senha {
    padding-bottom: 8px;
    text-align: start;
    
}

.formulario__senha input {
    width: 275px;
    height: 41px;
    top: 261px;
    left: 41px;
    gap: 8px;
    
}

.login__botao {
    display: flex;
    color: var(--background-header);
    font-size: 14px;
    text-align: center;
    width: 109px;
    left: 117px;
    height: 40px;
    top: 318px;
    padding: 12px 16px 12px 16px;
    gap: 10px;
    background-color: var(--cor-azul);
    border: 1px solid var(--cor-azul);
    border-style: solid;  
    position: sticky;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (min-width: 768px){

    .login__botao {
        left: 318px;        
        top: 266px;
    }
}

@media (min-width: 1024px){

    .login__container {
        width: 423px;
        height: 291px;
        padding: 206px;
        left: 508px; 
    }
    
    .login__container p {
        font-size: 18px;        
    }
    
    .formulario__login input {
        width: 423px;
        height: 63px;
        top: 260px;
        left: 508px;
        }
    
    .formulario__senha input {
        width: 423px;
        height: 63px;
        top: 347px;
        left: 508px;
    }
    

    .login__botao {
        width: 423px;
        height: 62px;
        font-size: 18px;
        font-weight: 600;
        
    }
}