.botao__add__produtos__mob {
    color: var(--background-header);  
    width: 151px;
    height: 40px;
    padding: 12px 16px 12px 16px;
    gap: 10px;
    background-color: var(--cor-azul);
    border: 1px solid var(--cor-azul);
    border-style: solid;  
}

.botao__add__produtos__frame__mob {
    font-size: 12px;
    font-weight: 600;
    text-align: justify;
}

.botao__add__produtos__frame {
    display: none;
}



.produtos__container {
    width: 360px;
    height: 2364px;    
    gap: 16px;
    padding: 32px; 
    text-align: justify;  
    position: relative;
}

@media (min-width: 768px) {

    .botao__add__produtos__mob {
        display: none;
    }
    
    .botao__add__produtos__frame__mob {
        display: none ;        
    }
    
    .produtos__container {
        width: 768px;
        height: 1429px;    
        gap: 16px;
        padding: 32px; 
        text-align: justify;  
        position: relative; 
    }

    .titulo__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 16px;
    }
    
    .botao__add__produtos {
        color: var(--background-header);  
        width: 151px;
        height: 40px;
        padding: 12px 16px 12px 16px;
        gap: 10px;
        background-color: var(--cor-azul);
        border: 1px solid var(--cor-azul);
        border-style: solid;  
    }
    
    .botao__add__produtos__frame {
        display: block;
        font-size: 12px;
        font-weight: 600;
        text-align: justify;
    }
    
}

@media (min-width: 1440px) {

    .botao__add__produtos__mob {
        display: none;
    }
    
    .botao__add__produtos__frame__mob {
        display: none;        
    }
    .produtos__container {
        width: 1136px;
        height: 306px;  
        display: inline-block;
    }

    .titulo__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 16px;
    }
    
    .botao__add__produtos {
        color: var(--background-header);  
        width: 151px;
        height: 40px;
        padding: 12px 16px 12px 16px;
        gap: 10px;
        background-color: var(--cor-azul);
        border: 1px solid var(--cor-azul);
        border-style: solid;  
    }
    
    .botao__add__produtos__frame{
        display: block;
        font-size: 12px;
        font-weight: 600;
        text-align: justify;
    }
    
}