*,
*::before,
*::after {
    --background-body: #f5f5f5;
    --background-header: #FFFFFF;
    --cor-texto: #464646;
    --cor-lupa-mob: #464646;
    --cor-azul: #2A7AE4;
    --cor-azulClaro: #EAF2FD;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--background-header);
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
    font-size: 14px;
    color: var(--cor-texto);
    box-sizing: border-box;
    text-align: center;
}

/* Header */

.cabecalho__container{
    width: 360px;
    height: 72px;
    padding: 16px;
    background-color: var(--background-header);
}

.cabecalho__logo {
    width: 100px;
    height: 28px;
}

.bnt__busca__mobile {
    width: 24px;
    height: 24px;
    color: var(--cor-lupa-mob);
}

.cabecalho__botao {
    font-size: 14px;
    font-weight: 600;
    color: var(--cor-azul);
    text-align: center;
}

.botao__frame {
    width: 133px;
    height: 40px;
    padding: 12px 16px 12px 16px;
    gap: 10px;
    border: 1px solid var(--cor-azul);
    border-style: solid;
    background: transparent;
}

/* Banner */

.banner {
    width: 360px;
    height: 192px;
    padding: 16px;
    gap: 16px;
}

.banner__titulo {
    width: 328px;
    height: 98px;
}

.banner__titulo h1{
    font-size: 22px;
    font-weight: 700;
    color: var(--background-header);
    padding-bottom: 8px;
}

.banner__titulo p{
    font-size: 14px;
    font-weight: 600;
    color: var(--background-header);
    padding-bottom: 8px;
}

.banner__botao {
    color: var(--background-header);
    font-size: 14px;
}

.banner__botao__frame {
    width: 119px;
    height: 40px;
    padding: 12px 16px 12px 16px;
    gap: 10px;
    background-color: var(--cor-azul);
    border: 1px solid var(--cor-azul);
    border-style: solid;     
}

/* container de podutos */

.diversos__container,
.consoles__container,
.star__wars__container {
    width: 360px;
    height: 588px;    
    gap: 16px;
    padding: 16px; 
    text-align: justify;  
    position: relative;
}

.titulo__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

.titulo__container h2 {
    font-size: 22px;
    font-weight: 700;
    color: var(--cor-texto);
    text-align: justify;
}

.titulo__texto__link {
    font-size: 14px;
    font-weight: 700;
    color: var(--cor-azul);
}

/* grid */

.grid {
    display: grid;    
    grid-template-columns: repeat(2, 1fr);
    width: 328px;
    height: 249px;   
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;    
}

.grid img {
    width: 156px;
    height: 174px;
    gap: 8px;
}

.grid p {
    font-size: 16px;
    font-weight: 700;
    color: var(--cor-texto);
    padding: 8px 0;
}

.grid a {
    font-size: 16px;
    font-weight: 700;
    color: var(--cor-azul);
    
}

/* rodape */

.rodape {
    display: flex;
    background-color: var(--cor-azulClaro);
    width: 360px;
    height: 553px;
    padding: 16px;
    gap: 16px;
    
}

.rodape__lista {
    width: 328px;
    height: 194px;
    gap: 16px;
}

.rodape__lista li {
    padding-bottom: 16px;
}

.rodape__formulario {
    width: 328px;
    height: 229px;
    gap: 8px;
    
}

.rodape__formulario p {
    font-size: 16px;
    font-weight: 700;
    text-align: justify;
    padding-bottom: 8px;
}

.formulario__nome{
    padding-bottom: 8px;
}
.formulario__nome input {
    width: 328px;
    height: 56px;
    gap: 8px;
}

.formulario__texto {
    padding-bottom: 8px;
}

.formulario__texto input {
    width: 328px;
    height: 82px;
    gap: 8px;
}

.roda

.rodape__botao {
    color: var(--background-header);
    font-size: 14px;
    text-align: center;
    width: 151px;
    height: 40px;
    padding: 12px 16px 12px 16px;
    gap: 10px;
    background-color: var(--cor-azul);
    border: 1px solid var(--cor-azul);
    border-style: solid;  
}

/* rodape mdg */

.rodape__msg {
    background-color: white;
    width: 360px;
    height: 102px;
    padding: 32px;
    gap: 10px;
    text-align: center;
    
}

.rodape__msg img {
    width: 24px;
    height: 24px;
}