* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: block;
    background-size: auto 100vh;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.cabecalho {
    width: 768px;
    height: 72px;
    gap: 10px;
    padding: 16px 32px 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(min-width: 850px) {
    .cabecalho {
        width: 1440px;
        height: 115px;
        justify-content: space-around;
        padding: 0px 32px 0px 32px;     
    }
}
body {
    width: 100vh;
    height: 100vh;
}

.logo_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 475px;
    height: 40px;
    gap: 32px;
}

@media (min-width: 850px) {
    .logo_container {
        width: 601px;
        height: 50px;
    }
}

.logo {
    display: flex;
    align-items: center;
    width: 100px;
    height: 28px;
}

@media (min-width: 850px) {
    .logo {
        width: 176px;
        height: 50px;
    }

}

.busca{
    background-color: #F5F5F5;
    border-radius: 20px;
    width: 272px;
    height: 40px;
    padding: 8px 16px 8px 16px;
    gap: 8px;
}

@media (min-width:850px) {
    .busca{
        width: 393px;        
    }
} 

.texto_busca {
    float: left;
    background-color: transparent;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;    
    color: #A2A2A2;
    border: none; 
    width: 208px;
    height: 16px;         
}

@media (min-width: 850px) {
    .texto_busca {
        width: 329px;                
    }  
}

.bnt_busca {
    width: 24px;
    height: 24px;
    color: #A2A2A2; 
}

.botao_frame {
    background-color: transparent;
    width: 168px;
    height: 40px;
    border-color: #2A7AE4;
    border: 1px solid;
    padding: 12px 16px 12px 16px;
    gap: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #2A7AE4;
    text-decoration: none;
}

@media (min-width: 850px) {
    .botao_frame {
        width: 182px;
        height: 51px;
        padding: 16px;
    }
}

.banner {
    background: url(imagens/Hero_768X352.svg);
    display: flex;
    width: 768px;
    height: 352px;
}

@media (min-width: 850px) {
    .banner {
        background: url(imagens/Hero_1440X467.svg);
        display: flex;
        width: 1440px;
        height: 352px;                
    }
}

.banner_titulo {
    width: 768px;
    height: 115px;
    padding: 16px 32px 16px 32px;
    position: relative;
    top: 150px;           
}

@media (min-width: 850px) {
    .banner_titulo {
        width: 1440px;
        height: 115px;
        padding:0px 200px 0px 200px;
    }    
}

.banner_titulo h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 52px;
    font-weight: bold;
    color: #FFFFFF;
    padding-bottom: 16px;
}

.banner_titulo p {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #FFFFFF;
    padding-bottom: 16px;
}

.botao_frame_banner {
    background-color: #2A7AE4;
    width: 130px;
    height: 51px;
    border: none;
    font-family: 'Rayway', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}

